In [5]:
import torch 
import torch.nn as nn
preds1 = torch.randn(3, 4)
trues1 = torch.randn(3, 4)

In [8]:
loss1_1 = nn.MSELoss()(preds1, trues1)
loss1_2 = nn.MSELoss()(preds1, trues1)

loss1_1.item(), loss1_2

(1.5776878595352173, tensor(1.5777))

In [10]:
import numpy as np
X = np.c_[np.array([1,2,3,4,5]), np.array([6,7,8,9,10])]
num_features = X.shape[1]
# num_periods = len(data)

In [11]:
num_features

2

In [23]:
import pandas as pd
df = pd.read_csv(r"C:\Users\82104\Documents\reach_data222.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22065 entries, 0 to 22064
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        22065 non-null  object
 1   Store Number                                22065 non-null  int64
 2   Item number                                 22065 non-null  int64
 3   Sales amount                                22065 non-null  float64
 4   Sale quantity                               22065 non-null  float64
 5   Total promotion based date,store and items  22065 non-null  float64
 6   Promotionflag                               22065 non-null  int64
 7   Waste quantity                              22065 non-null  float64
 8   Inventory quantity                          22065 non-null  float64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.5+ MB

In [18]:
df['Sale quantity'].astype('float32')

ValueError: could not convert string to float: '********  '

In [22]:
df[df['Sale quantity'] == '********  ']

,Date,Store Number,Item number,Sales amount,Sale quantity,"Total promotion based date,store and items",Promotionflag,Waste quantity,Inventory quantity
11135,2018-01-14,0,283329,1148.51,********,2612.15,1,43.0,-999.000
15708,2018-05-19,0,33288729,1963.26,********,7120.45,1,24.0,832.437

In [26]:
import sys
int(sys.argv[1])

ValueError: invalid literal for int() with base 10: '--ip=127.0.0.1'